<head>
    <title>Kiddy</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
    <link href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700|Indie+Flower" rel="stylesheet">
    
  
    <link rel="stylesheet" href="/../assets/fonts/icomoon/style.css">
  
    <link rel="stylesheet" href="/../assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/../assets/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/../assets/css/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/../assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/../assets/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/../assets/fonts/flaticon/font/flaticon.css">
    <link rel="stylesheet" href="/../assets/css/aos.css">
  
    <!-- MAIN CSS -->
    <link rel="stylesheet" href="/../assets/css/style.css">
  
  </head>
  
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  
    
    <div class="site-wrap" id="home-section">
  
      <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div>
  
  
  
      <header class="site-navbar site-navbar-target" role="banner">
  
        <div class="container mb-3">
          <div class="d-flex align-items-center">
            <div class="site-logo mr-auto">
              <a href="index.html">TUNISIAN WATCH<span class="text-primary">.</span></a>
            </div>
            <div class="site-quick-contact d-none d-lg-flex ml-auto ">
              <div class="d-flex site-info align-items-center mr-5">
                <span class="block-icon mr-3"><span class="icon-map-marker text-yellow"></span></span>
                <span>34 Street Name, City Name Here, <br> United States</span>
              </div>
              <div class="d-flex site-info align-items-center">
                <span class="block-icon mr-3"><span class="icon-clock-o"></span></span>
                <span>Sunday - Friday 8:00AM - 4:00PM <br> Saturday CLOSED</span>
              </div>
              
            </div>
          </div>
        </div>
  
  
        <div class="container">
          <div class="menu-wrap d-flex align-items-center">
            <span class="d-inline-block d-lg-none"><a href="#" class="text-black site-menu-toggle js-menu-toggle py-5"><span class="icon-menu h3 text-black"></span></a></span>
  
              
  
             
      <nav class="site-navigation text-left mr-auto d-none d-lg-block" role="navigation">
                <ul class="site-menu main-menu js-clone-nav mr-auto ">
                  <li><a [routerLink]="['/home']" class="nav-item nav-link ">Home</a></li>
                  <li><a [routerLink]="['/user']" class="nav-item nav-link ">USERS</a></li>
                  <li><a [routerLink]="['/blacklist']" class="nav-item nav-link active">BlackList</a></li>
                </ul>
              </nav>
  
              <div class="top-social ml-auto">
                <a href="#"><span class="icon-facebook text-teal"></span></a>
                <a href="#"><span class="icon-twitter text-success"></span></a>
                <a href="#"><span class="icon-linkedin text-yellow"></span></a>
              </div>
          </div>
        </div>
    </header>
    
  <div class="ftco-blocks-cover-1">
         
    <div class="ftco-blocks-cover-1">
      <!-- data-stellar-background-ratio="0.5" style="background-image: url('images/hero_1.jpg')" -->
     <div class="site-section-cover overlay" data-stellar-background-ratio="0.5" style="background-image: url('/../assets/images/t3.png')">
       <div class="container">
         <div class="row align-items-center ">
  
           <div class="col-md-5 mt-5 pt-5">
             <h1 class="mb-3 font-weight-bold text-teal">Admin Interface</h1>
             <p><a [routerLink]="['/home']" class="text-white">Home</a> <span class="mx-3">/</span><a [routerLink]="['/blacklist']" class="text-white">BlackList</a> </p>
  
            </div>
           
         </div>
       </div>
     </div>
    </div>
  </div>
  
  
  
  
  
  
  
  
  
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <br>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" style="color:white;">BlackList Manager</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
           <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                 <a class="nav-link" (click)="onOpenModal(null!, 'add')">Add blacklist <span class="sr-only">(current)</span></a>
              </li>
           </ul>
       <form class="form-inline my-2 my-lg-0">
          <input type="search" (ngModelChange)="searchBlacklist(key.value)" #key="ngModel" ngModel
           name="key" id="searchName" class="form-control mr-sm-2" placeholder="Search blacklist..." required>
       </form>
    </div>
  </nav>
  <div class="container" id="main-container">
      <div class="row">
        
          <div *ngFor="let blacklist of blacklists" class="col-md-6 col-xl-3">
              <div class="card m-b-30">
                  <div class="card-body row">
                      <div class="col-6">
                          <a href=""><img src="assets\images\téléchargement.png" alt="" class="img-fluid  w-60"></a>
                      </div>
                  </div>
                  <ul class="list-group list-group-flush">
                   <!-- <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Id : <a href="#">{{blacklist?.id}}</a></li>
                   -->
                    <li class="list-group-item"><i class="fa fa-envelope float-right"></i>Email : <a href="#">{{blacklist?.email}}</a></li>
                 </ul>
                  <div class="card-body">
                      <div class="float-right btn-group btn-group-sm">
                 <a (click)="onOpenModal(blacklist, 'delete')" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip" data-original-title="Delete"><i class="fa fa-times"></i> </a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Add Employee Modal -->
<div class="modal fade" id="addBlacklistModal" tabindex="-1" role="dialog" aria-labelledby="addBlacklistModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
         <div class="modal-header">
            <h5 class="modal-title" id="addBlacklistModalLabel">Add Blacklist</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
         </div>
         <div class="modal-body">
            <form #addForm="ngForm" (ngSubmit)="onAddBlacklist(addForm)">
            <div class="form-group">
               <label for="email">email</label>
               <input type="email" ngModel name="email" class="form-control" id="email" placeholder="Email" required>
            </div>
            <div class="modal-footer">
               <button type="button" id="add-blacklist-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
               <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
            </div>
            </form>
         </div>
      </div>
    </div>
</div>

  <!-- Delete Modal -->
  <div class="modal fade" id="deleteBlacklistModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
       <div class="modal-content">
          <div class="modal-header">
             <h5 class="modal-title" id="deleteModelLabel">Delete Blacklist</h5>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
             </button>
          </div>
          <div class="modal-body">
             <p>Are you sure you want to delete Blacklist {{deleteBlacklist?.email}}?</p>
             <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                <button (click)="onDeleteBlacklist(deleteBlacklist?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
             </div>
          </div>
       </div>
    </div>
  </div>
  </div>
  
  <!-- Notification for no users -->
  <div *ngIf="blacklists?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
  <div class="alert alert-info" role="alert">
    <h4 class="alert-heading">NO USERS In the Blacklist!</h4>
    <p>No Users were found.</p>
  </div>
  </div>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  <div class="site-section py-5 bg-warning">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 d-flex">
        <h2 class="text-white m-0">Bring Fun Life To Your Kids</h2>
        <a href="#" class="btn btn-primary btn-custom-1 py-3 px-5 ml-auto">Home</a>
        </div>
      </div>
    </div>
  </div>
  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h2 class="footer-heading mb-3">About Us</h2>
              <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>
  
              <h2 class="footer-heading mb-4">Newsletter</h2>
              <form action="#" class="d-flex" class="subscribe">
                <input type="text" class="form-control mr-3" placeholder="Email">
                <input type="submit" value="Send" class="btn btn-primary">
              </form>
        </div>
        <div class="col-lg-8 ml-auto">
          <div class="row">
            <div class="col-lg-4 ml-auto">
              <h2 class="footer-heading mb-4">Navigation</h2>
              <ul class="list-unstyled">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Testimonials</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </div>
            <div class="col-lg-4">
              <h2 class="footer-heading mb-4">Navigation</h2>
              <ul class="list-unstyled">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Testimonials</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
              
            </div>
  
            
            
          </div>
        </div>
      </div>
      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <div class="border-top pt-5">
            
          </div>
        </div>
  
      </div>
    </div>
    
  </footer>
  <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery-migrate-3.0.0.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/bootstrap-datepicker.min.js"></script>
    <script src="js/aos.js"></script>
  
    <script src="js/main.js"></script>
  
  
  
  
  
  
  <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.0.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.sticky.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/bootstrap-datepicker.min.js"></script>
  <script src="js/aos.js"></script>
  
  <script src="js/main.js"></script>