<head>
  <title>Kiddy</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=DM+Sans:300,400,700|Indie+Flower" rel="stylesheet">
  

  <link rel="stylesheet" href="/../assets/fonts/icomoon/style.css">

  <link rel="stylesheet" href="/../assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/../assets/css/bootstrap-datepicker.css">
  <link rel="stylesheet" href="/../assets/css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="/../assets/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/../assets/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="/../assets/fonts/flaticon/font/flaticon.css">
  <link rel="stylesheet" href="/../assets/css/aos.css">

  <!-- MAIN CSS -->
  <link rel="stylesheet" href="/../assets/css/style.css">

</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">

  
  <div class="site-wrap" id="home-section">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>



    <header class="site-navbar site-navbar-target" role="banner">

      <div class="container mb-3">
        <div class="d-flex align-items-center">
          <div class="site-logo mr-auto">
            <a href="index.html">TUNISIAN WATCH<span class="text-primary">.</span></a>
          </div>
          <div class="site-quick-contact d-none d-lg-flex ml-auto ">
            <div class="d-flex site-info align-items-center mr-5">
              <span class="block-icon mr-3"><span class="icon-map-marker text-yellow"></span></span>
              <span>34 Street Name, City Name Here, <br> United States</span>
            </div>
            <div class="d-flex site-info align-items-center">
              <span class="block-icon mr-3"><span class="icon-clock-o"></span></span>
              <span>Sunday - Friday 8:00AM - 4:00PM <br> Saturday CLOSED</span>
            </div>
            
          </div>
        </div>
      </div>


      <div class="container">
        <div class="menu-wrap d-flex align-items-center">
          <span class="d-inline-block d-lg-none"><a href="#" class="text-black site-menu-toggle js-menu-toggle py-5"><span class="icon-menu h3 text-black"></span></a></span>

            

            <nav class="site-navigation text-left mr-auto d-none d-lg-block" role="navigation">
              <ul class="site-menu main-menu js-clone-nav mr-auto ">
                <li><a [routerLink]="['/home']" class="nav-item nav-link  active" >Home</a></li>
                <li><a href="about.html" class="nav-item nav-link ">About</a></li>
                <li><a [routerLink]="['/event']" class="nav-item nav-link ">Reclamations</a></li>
                <li><a [routerLink]="['/user']" class="nav-item nav-link ">users</a></li>
                <li><a href="pricing.html" class="nav-link">Discussion</a></li>
                <li><a href="contact.html" class="nav-link">Contact</a></li>
              </ul>
            </nav>

            <div class="top-social ml-auto">
              <button type="submit" class="btn btn-lg btn-block" (click)="onLogout()">
                Logout
              </button>
              <a href="#"><span class="icon-facebook text-teal"></span></a>
              <a href="#"><span class="icon-twitter text-success"></span></a>
              <a href="#"><span class="icon-linkedin text-yellow"></span></a>
            </div>
        </div>
      </div>
  </header>
  <div class="ftco-blocks-cover-1">
       
    <div class="site-section-cover overlay">
      <div class="container">
        <div class="row align-items-center ">
          <div class="col-md-5 mt-5 pt-5">
            <span class="text-cursive h5 text-red">Welcome To Our Website</span>
            <h1 class="mb-3 font-weight-bold text-teal">Report Your Complaints!</h1>
            
            <p class="mt-5"><a href="#" class="btn btn-primary py-4 btn-custom-1">Learn More</a></p>
          </div>
          <div class="col-md-6 ml-auto align-self-end">
            <img src="/assets/images/ts.png" alt="Image" class="img-fluid">
            
          </div>
        </div>
      </div>
    </div>
  </div>
 



































  <div class="site-section py-5 bg-warning">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12 d-flex">
        <h2 class="text-white m-0">Bring Fun Life To Your Kids</h2>
        <a href="#" class="btn btn-primary btn-custom-1 py-3 px-5 ml-auto">Home</a>
        </div>
      </div>
    </div>
  </div>
<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h2 class="footer-heading mb-3">About Us</h2>
              <p class="mb-5">Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. </p>

              <h2 class="footer-heading mb-4">Newsletter</h2>
              <form action="#" class="d-flex" class="subscribe">
                <input type="text" class="form-control mr-3" placeholder="Email">
                <input type="submit" value="Send" class="btn btn-primary">
              </form>
        </div>
        <div class="col-lg-8 ml-auto">
          <div class="row">
            <div class="col-lg-4 ml-auto">
              <h2 class="footer-heading mb-4">Navigation</h2>
              <ul class="list-unstyled">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Testimonials</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
            </div>
            <div class="col-lg-4">
              <h2 class="footer-heading mb-4">Navigation</h2>
              <ul class="list-unstyled">
                <li><a href="#">About Us</a></li>
                <li><a href="#">Testimonials</a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Privacy</a></li>
                <li><a href="#">Contact Us</a></li>
              </ul>
              
            </div>

            
            
          </div>
        </div>
      </div>
      <div class="row pt-5 mt-5 text-center">
        <div class="col-md-12">
          <div class="border-top pt-5">
            
          </div>
        </div>

      </div>
    </div>
    
  </footer>
  <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/jquery-migrate-3.0.0.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/jquery.waypoints.min.js"></script>
    <script src="js/jquery.animateNumber.min.js"></script>
    <script src="js/jquery.fancybox.min.js"></script>
    <script src="js/jquery.stellar.min.js"></script>
    <script src="js/jquery.easing.1.3.js"></script>
    <script src="js/bootstrap-datepicker.min.js"></script>
    <script src="js/aos.js"></script>

    <script src="js/main.js"></script>
  
  
      <script src="js/jquery-3.3.1.min.js"></script>
  <script src="js/jquery-migrate-3.0.0.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.sticky.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.animateNumber.min.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/jquery.stellar.min.js"></script>
  <script src="js/jquery.easing.1.3.js"></script>
  <script src="js/bootstrap-datepicker.min.js"></script>
  <script src="js/aos.js"></script>

  <script src="js/main.js"></script>
   