 <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/../assets/plugins/bootstrap/bootstrap.min.css">
  <!-- slick slider -->
  <link rel="stylesheet" href="/../assets/plugins/slick/slick.css">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="/../assets/plugins/themify-icons/themify-icons.css">
  <!-- animation css -->
  <link rel="stylesheet" href="/../assets/plugins/animate/animate.css">
  <!-- aos -->
  <link rel="stylesheet" href="/../assets/plugins/aos/aos.css">
  <!-- venobox popup -->
  <link rel="stylesheet" href="/../assets/plugins/venobox/venobox.css">

  <!-- Main Stylesheet -->
  <link href="/../assets/css/style2.css" rel="stylesheet">
  
  <!--Favicon-->
  <link rel="shortcut icon" href="/../assets/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/../assets/images/favicon.ico" type="image/x-icon">


<div class="ftco-blocks-cover-1">    
  <div class="ftco-blocks-cover-1">
    <!-- data-stellar-background-ratio="0.5" style="background-image: url('images/hero_1.jpg')" -->
   <div class="site-section-cover overlay" data-stellar-background-ratio="0.5" style="background-image: url('/../assets/images/hero_1.jpg')">
     <div class="container">
       <div class="row align-items-center ">
         <div class="col-md-5 mt-5 pt-5">
           <h1 class="mb-3 font-weight-bold text-teal">Sign In Now!</h1>
           <p><a [routerLink]="['/visiteur']" class="text-white">Home</a> <span class="mx-3">/</span> <a [routerLink]="['/registration']" class="text-white">Sign Up</a> </p>
         </div>
         
       </div>
     </div>
   </div>
  </div>
</div>










<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
<div class="container">
  <br>

    <div class="contact__wrapper shadow-lg mt-n9">
      <div class="container">
        <br>
        <form #form="ngForm" class="mb-4" autocomplete="on" (submit)="onSubmit(form)">
            <div class="form-group">
                <label>Username</label>
                <input title="s" placeholder="example@example.com" class="form-control" #email="ngModel" name="email" [(ngModel)]="formModel.email" required />
            </div>
            <div class="form-group">
                <label>Password</label>
                <input title="s" placeholder="********" type="password" class="form-control" #password="ngModel" name="password" [(ngModel)]="formModel.password" required />
            </div>
            <div class="form-row">
                <div class="form-group col-md-8 offset-md-2">
                    <button type="submit" class="btn btn-lg btn-block" [disabled]="form.invalid">
                Login
              </button>
              <button type="submit"  [routerLink]="['/forgetpass']" class="btn btn-lg btn-block" [disabled]="form.invalid">
                ForgetPassword
              </button>
                </div>
            </div>
        </form>
       
        
    
    </div>
  </div>
</div>
