 <!-- ** Plugins Needed for the Project ** -->
  <!-- Bootstrap -->
  <link rel="stylesheet" href="/../assets/plugins/bootstrap/bootstrap.min.css">
  <!-- slick slider -->
  <link rel="stylesheet" href="/../assets/plugins/slick/slick.css">
  <!-- themefy-icon -->
  <link rel="stylesheet" href="/../assets/plugins/themify-icons/themify-icons.css">
  <!-- animation css -->
  <link rel="stylesheet" href="/../assets/plugins/animate/animate.css">
  <!-- aos -->
  <link rel="stylesheet" href="/../assets/plugins/aos/aos.css">
  <!-- venobox popup -->
  <link rel="stylesheet" href="/../assets/plugins/venobox/venobox.css">

  <!-- Main Stylesheet -->
  <link href="/../assets/css/style2.css" rel="stylesheet">
  
  <!--Favicon-->
  <link rel="shortcut icon" href="/../assets/images/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/../assets/images/favicon.ico" type="image/x-icon">

<div class="ftco-blocks-cover-1">
       
  <div class="ftco-blocks-cover-1">
    <!-- data-stellar-background-ratio="0.5" style="background-image: url('images/hero_1.jpg')" -->
   <div class="site-section-cover overlay" data-stellar-background-ratio="0.5" style="background-image: url('/../assets/images/hero_1.jpg')">
     <div class="container">
       <div class="row align-items-center ">

         <div class="col-md-5 mt-5 pt-5">
           <h1 class="mb-3 font-weight-bold text-teal">Registration!</h1>
           <p><a [routerLink]="['/home']" class="text-white">Home</a> <span class="mx-3">/</span> <a [routerLink]="['/login']" class="text-white">Sign In</a></p>
         </div>
         
       </div>
     </div>
   </div>
  </div>











<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" rel="stylesheet">
<div class="container">
    <div class="contact__wrapper shadow-lg mt-n9">
        
        <div class="row no-gutters">
            <div class="col-lg-5 contact-info__wrapper gradient-brand-color p-5 order-lg-2">
                <img src="/assets/images/ts.png" alt="Image" class="img-fluid">

                <h3 class="color--white mb-5">SignUp now </h3>   
    
                <figure class="figure position-absolute m-0 opacity-06 z-index-100" style="bottom:0; right: 10px">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="444px" height="626px">
                        <defs>
                            <linearGradient id="PSgrad_1" x1="0%" x2="81.915%" y1="57.358%" y2="0%">
                                <stop offset="0%" stop-color="rgb(255,255,255)" stop-opacity="1"></stop>
                                <stop offset="100%" stop-color="rgb(0,54,207)" stop-opacity="0"></stop>
                            </linearGradient>
    
                        </defs>
                        <path fill-rule="evenodd" opacity="0.302" fill="rgb(72, 155, 248)" d="M816.210,-41.714 L968.999,111.158 L-197.210,1277.998 L-349.998,1125.127 L816.210,-41.714 Z"></path>
                        <path fill="url(#PSgrad_1)" d="M816.210,-41.714 L968.999,111.158 L-197.210,1277.998 L-349.998,1125.127 L816.210,-41.714 Z"></path>
                    </svg>
                </figure>
            </div>
    

            <div class="col-lg-7 contact-form__wrapper p-5 order-lg-1">
                <form (ngSubmit)="userRegister()" action="#" class="contact-form form-validate" novalidate="novalidate">
                    <div class="row">
                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label class="required-field" for="firstName">First Name</label>
                                <input type="text" class="form-control" id="firstName" name="firstName" [(ngModel)]="user.firstName" placeholder="Wendy">
                            </div>
                        </div>
    
                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label for="lastName">Last Name</label>
                                <input type="text" class="form-control" id="lastName" name="lastName" [(ngModel)]="user.lastName" placeholder="Appleseed">
                            </div>
                        </div>
    
                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label class="required-field" for="email">Email</label>
                                <input type="email" class="form-control" id="email" name="email" [(ngModel)]="user.email" placeholder="wendy.apple@seed.com">
                            </div>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label class="required-field" for="pssword">Password</label>
                                <input type="password" class="form-control" id="pssword" name="pssword" [(ngModel)]="user.password" placeholder="Wendy">
                            </div>
                        </div>
    
                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label for="telephone">Phone Number</label>
                                <input type="tel" class="form-control" id="telephone" name="telephone" [(ngModel)]="user.telephone" placeholder="216..">
                            </div>
                        </div>
                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label for="adress">Adress</label>
                                <input type="text" class="form-control" id="adress" name="adress" [(ngModel)]="user.adress" placeholder="adress">
                            </div>
                        </div> 
                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label for="description">Description</label>
                                <input type="text" class="form-control" id="description" name="description" [(ngModel)]="user.description" placeholder="description">
                            </div>
                        </div>
                        

                      <div class="col-md-4">
                            <label  for="inputState" class="form-label">Role</label>
                            <select id="inputState" name="role" [(ngModel)]="user.role" class="form-select">
                              <option selected>USER</option>
                              <option>Responsable</option>
                              <option>visiteur</option>
                            </select>
                          </div>
                        <div class="col-sm-6 mb-3">
                            <div class="form-group">
                                <label for="datecreation">Date de Creation</label>
                                <input type="datetime-local" class="form-control" id="datecreation" name="datecreation" [(ngModel)]="user.datecreation" placeholder="date">
                            </div>
                        </div>
    
                        <div class="col-sm-12 mb-3">
                            <button type="submit"  name="submit" class="btn btn-primary">Submit</button>
                        </div>
    
                    </div>
                </form>
            </div>
            <!-- End Contact Form Wrapper -->
    
        </div>
    </div>
</div>